body {
	/*шрифт норм чет не подключается*/
	margin: 0 auto;
	width: 1140px;
}

h6, a {
	margin: 0px;
	padding: 0px;
}

p {
	font-size: 18px;
}

.header {
	width: 1060px;
}

.nav {
	/* width: 1140px; */
	display: flex;
	justify-content: space-between;
}

.navbar {
	margin-top: 1.5em;
	margin-top: 2em;
	width: 1140px;
	/* border-radius: 100px; */
	margin-bottom: 20px;
	padding-right: 0;
	padding-left: 0;
}

.navbar-brand img{
	width: 4em;
}

.carousel-item img{
	/*width: 12em;*/
	height: 12em;
}

.btn-outline-primary {
	border-radius: 100px;
	color: #0264B1;
	border-color: #0264B1;
	box-shadow: 5px 5px 5px rgba(1, 148, 218, 0.5);
}

.auth .btn-outline-primary {
	width: 230px;
}

.popup-holder{
	top: 50%;
    left: 50%;
    width: 525px;
    height: 500px;
    background-color: #0165B3;
    position: absolute;
    margin-left: -262px;
    margin-top: -250px;
    text-align: center;
	border-radius: 8px;
	background: linear-gradient(133.6deg, #0165B3 63.83%, #6CC8F7 100%),
	#0165B3;
}

.authorization-border{
	height: 63px;
	width: 255px;
	background-color: #0293DC;
    display: inline-block;
	border-radius: 100px;
	margin-top: 20px;
}

.authorization {
	color: #fff;
    text-align: center;
    line-height: 63px;
    font-size: 22px;
}

.popup-name{
	color: #fff;
	padding-top: 17px;
}

.popup-name-border, .popup-contacts-border{
	width: 388px;
	height: 39px;
	background-color: #fff;
	border-radius: 10px;
    display: inline-block;
    border: none;
    padding: 10px;
    outline: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.popup-contacts{
	color: #fff;
	padding-top: 17px;
}

.popup-button{
	width: 254px;
	height: 50px;
	margin-top: 26px;
	border-radius: 100px;
	border: none;
	background-color: #fff;
	color:#0165B3;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 30px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

button:focus {
	outline: none;
}

a.authorization-ref {
	color:#fff;
	text-decoration: underline;
	font-size: 24px;
}

hr {
	background-color: #0193DD;
	height: 10px;
	margin: 0;
}

.reg-holder {
	background: url('../images/bgrnd.png') 100% 100% no-repeat;
	padding-top: 62px;
	width: 1140px;
	text-align: center;
	padding-bottom: 80px;
}

.reg_title {
	margin-left: 310px;
	color: #fff;
	width: 500px;
	padding: 8px;
    background-color: #0194DA;
    border-radius: 100px;
    display: block;
	font-size: 30px;
}

.field p {
	margin: 60px 0px 5px 0px;
	font-size: 18px;
	color: #0165B3;
}

.field_border, .mail_border, .organization_name_border, .birth_year_border {
	margin-left: 250px;
	display: block;
	width: 618px;
	height: 50px;
	border: 1px solid #0293DC;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	outline: none;
	padding: 10px;
}

.mail p, .organization_name p, .birth_year p{
	margin: 5px 0px;
	font-size: 18px;
	color: #0165B3;
}

.reg_button {
	color: #0194DA;
	background: #fff;
	margin-top: 100px;
	box-shadow: 0px 5px 10px rgba(2, 147, 220, 0.6);
	border-radius: 100px;
	width: 350px;
	height: 61px;
	font-size: 24px;
	border: solid #0194DA;
	display: inline-block;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.reg_button:hover {
	background-color: #0194DA;
	color: #fff;
	border: none;
}

.reg_button:active {
  transform: translateY(4px);
}

.contacts {
	display: flex;
	justify-content: space-between;
	color: #0165B3;
	margin-top: 30px;
}

.numbers {
	margin-left: -200px;
}

.organization, .number_1, .number_2, .e_mail {
	font-size: 14px;
}

.e_mail {
	text-align: right;
}

/* .row {
	width: 1140px;
	margin-top: 75px;
	margin-bottom: 20px;
	margin-right: 0;
	margin-left: 0;
	display: flex;
	justify-content: space-between;
	padding: 0;

} */

/* HAHAHAHAHA */
.footer {
	list-style-type: none;
	padding: 0;
	margin-top: 20px;
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;
}

img {
	max-width:100%;
}

.logo_filfac {
	align-items: right;
}

.example-container {
	background: url('../images/bgrnd.png') 100% 100% no-repeat;

}

.page_title {
	text-align: center;
	width: 1140px;
	padding-top: 62px;
}

.page_title_header {
	border: 1px solid #0165B3;
	box-shadow: 5px 5px 5px rgba(1, 148, 219, 0.5);
	border-radius: 100px;
	color: #0165B3;
	font-size: 24px;
	width: 900px;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 15px;
}

.info_image{
	width: 1140px;
	/* margin-top: 50px; */
}

.download_ref {
	font-size: 18px;
	color: #0165B3;
	margin-top: 5px;
}

.paragraphs {
	font-size: 18px;
	color: #0165B3;
	margin-left: 5em;
	padding-left: 5px;
	margin-top: 70px;
	margin-right: 5em;
}

.paragraphs .important {
	color: #EE1B24;
}

.download_ref {
	font-size: 20px;
	text-decoration: underline;
}

.download_ref:hover {
	color: #0194DA;
}

.btn-outline-primary {
	background-color: #fff;
}

.btn_try {
	width: 1140px;
	text-align: center;
}

.try_test_button {
	color: #0194DA;
	background: #fff;
	margin: 70px 0;
	box-shadow: 0px 5px 10px rgba(2, 147, 220, 0.6);
	border-radius: 100px;
	width: 350px;
	height: 61px;
	font-size: 24px;
	border: solid #0194DA;
	display: inline-block;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.try_test_button:hover {
	background-color: #0194DA;
	color: #fff;
	border: none;
}

.try_test_button:active {
  transform: translateY(4px);
}

.rectangle {
    width: 220px;
    height: 45px;
    background: #ffffff;
	border: 1px #0264B1 solid;
	border-radius: 60px;
	/* box-shadow: 0.3em 0.3em 5px #81CAED; */
	text-align: center;
	color: #0264B1;
	padding: 9px;
}

.test-page-container {
	padding-top: 40px;
	background: url('../images/bgrnd.png') 100% 100% no-repeat;

}

.box {
	margin-left: 137px;
	margin-bottom: 10px;
	/*width: 953px; */
	display: flex;
	/*justify-content: space-between;*/
}

.knopka {
	font-size: 40px;
	text-align: center;
	color: #0293DC; 
	background: #FFFFFF; 
	padding: 5px; 
	border-radius: 10px;
	border: 2px solid #0293DC;
	margin-top: 20px;
	margin-left: 15px;
	box-shadow: 0.1em 0.1em 5px rgba(122,122,122,0.5);
	width: 75px; 
	height: 75px;
} 
	
.knopka:hover { 
	border: 2.5px solid #0264B1;
}

.task_list {
	margin: 0 20px;
	display: flex;
	justify-content: space-between;
}

.box-last {
	margin-left: 358px;
	margin-bottom: 0;
	padding-bottom: 50px;
}

.time-left {
	margin-right: -350px;
}

.menu-button {
	display: none;
}

.testing-container {
	background: url('../images/bgrnd.png') 100% 100% no-repeat;
}

.gto-text {
	font-size: 24px;
	/* line-height: 33px; */
	text-align: center;
	padding-top: 50px;
	color: #0165B3;
}

.gto-description {
	font-size: 20px;
	/* line-height: 27px; */
	width: 1000px;
	text-align: center;
	color: #0165B3;
	margin-left: 70px;
	margin-bottom: 50px;
}

.main-testing-content {
	color: #0165B3;
	width: 1000px;
	margin: auto;
}

.main-testing-content p {
	font-size: 17px;
}

.par-3-important {
	color: #EE1B24;
}

.par-3-important p {
	margin: 0;
}

.par-3-important {
	margin-bottom: 36px;
}

.par-4 p {
	margin: 0;
}

.par-4 {
	margin-bottom: 23px;
}

.par-5 p {
	margin: 0;
}

.information-container {
	background: url('../images/bgrnd.png') 100% 100% no-repeat;
}

.information-title {
	padding-top: 40px;
}

.info-title {
	color: #0165B3;
	width: 1000px;
	margin: auto;
	text-align: center;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #0165B3;
	box-shadow: 5px 5px 5px rgba(1, 148, 219, 0.5);
	border-radius: 100px;
	background-color: #fff;
	padding: 22px 0;
}

.info-refs {
	display: flex;
	flex-direction: column;
	margin-top: 60px;
	font-size: 24px;
	margin-bottom: 30px;
	margin-left: 50px;
}

@media (max-width: 1170px)
{
	.contacts {
		width: 800px;
		margin: auto;
		margin-top: 30px;
	}
	.numbers {
		margin: 0;
		margin-left: -15px;
	}
	.e_mail {
		text-align: left;
	}
	.footer {
		width: 800px;
		margin: auto;
		margin-top: 30px;
	}
	/*Гамбургер*/
	.menu-button {
		display: block;
		position: absolute;
		right: 0;
		top: 40px;
		width: 30px;
		height: 2px;
		background-color: #0165B3;
		border: none;
		cursor: pointer;
	}
	.menu-button:before {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		width: 30px;
		height: 2px;
		background-color: #0165B3;
		transition: transform 0.2s;
		margin-top: -8px;
	}
	.menu-button:after {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		width: 30px;
		height: 2px;
		background-color: #0165B3;
		transition: transform 0.2s;
		margin-top: 8px;
	}
	.menu-button-active {
		height: 0;
	}
	.menu-button-active:before {
		transform: rotate(45deg);
		margin-top: 0;
	}
	.menu-button-active:after {
		transform: rotate(-45deg);
		margin-top: 0;
	}
	.btn {
		color: #fff;
		border:none;
		background-color: transparent;
	}
	.btn-outline-primary {
		box-shadow: none;
		border-radius: 0;
		width: 250px;
	}
	.auth .btn-outline-primary {
		width: auto;
	}
	.header {
		margin-top: 20px;
		padding-top: 40px;
		display: none;
		flex-direction: column;
		position: absolute;
		top: 0;
		right: 0;
		width: 250px;
		padding-bottom: 60px;
		background-color: #54B2E8;
	}
	.header-active {
		display: flex;
	}

	.main-container {
		width: 800px;
		margin: auto;
	}
	.reg-holder {
		width: 800px;
	}
	.reg_title {
		margin-left: 150px;
	}
	.field_border, .mail_border, .organization_name_border, .birth_year_border{
		margin-left: 90px;
	}
	nav {
		margin: 0;
	}
	.navbar{
		width: 800px;
	}
	.navbar-brand img {
		max-width: 80%;
		
	}
	body {
		width: 800px;
	}
	/*
	example
	*/
	.page_title {
		width: 800px;
		padding-top: 40px;
	}
	.page_title_header {
		width: 700px;
		margin: 0;
		font-size: 20px;
		margin-left: 50px;
	}
	.paragraphs {
		margin-left: 2em;
		margin-right: 2em;
		margin-top: 40px;
	}
	.btn_try {
		width: 800px;
	}
	.try_test_button {
		margin: 50px 0;
	}
	/*
	testing
	*/
	.gto-description {
		width: 600px;
		margin: auto;
		margin-bottom: 40px;
		font-size: 18px;
	}
	.main-testing-content {
		width: 700px;
	}
	.main-testing-content p {
		font-size: 15px;
	}
	.try_test_button {
		margin: 30px 0;
		font-size: 18px;
		height: 50px;
	}
	/*
	information
	*/
	.info-title {
		width: 700px;
		padding: 10px 0;
	}
	.info-refs {
		font-size: 20px;
	}
}

@media (max-width: 830px)
{
	body {
		width: 500px;
	}
	.navbar{
		width: 500px;
	}
	.navbar-brand img {
		max-width: 70%;
	}
	.main-container {
		width: 500px;
	}
	.reg-holder {
		width: 500px;
	}
	.reg_title {
		margin: 0;
	}
	.field_border, .mail_border, .organization_name_border, .birth_year_border {
		width: 500px;
		margin: 0;
	}
	.contacts {
		width: 500px;
		display: flex;
		flex-direction: column;
	}
	.numbers {
		margin: 0;
	}
	.footer {
		width: 500px;
	}
	.footer img {
		max-width: 70%;
		max-height: 70%;
	}
	/*
	example
	*/
	.page_title {
		width: 500px;
	}
	.page_title_header {
		width: 440px;
		margin: 0;
		margin-left: 30px;
	}
	.paragraphs {
		margin-top: 20px;
	}
	.paragraphs p {
		font-size: 15px;
	}
	.btn_try {
		width: 500px;
	}
	.download_ref {
		font-size: 16px;
	}
	.try_test_button {
		margin: 30px 0;
		font-size: 20px;
	}
	/*
	testing
	*/
	.gto-text {
		padding-top: 30px;
		font-size: 20px;
	}
	.gto-description {
		width: 400px;
		font-size: 17px;
		margin-bottom: 20px;
	}
	.main-testing-content {
		width: 460px;
	}
	.main-testing-content p {
		font-size: 14px;
	}
	.try_test_button {
		margin: 20px 0;
		font-size: 18px;
		height: 40px;
	}
	/*
	information
	*/
	.info-title {
		width: 450px;
		font-size: 18px;
	}
	.info-refs {
		font-size: 16px;
	}
}

@media (max-width: 525px)
{
	body {
		width: 320px;
	}
	.navbar {
		width: 320px;
	}
	.navbar-brand img {
		max-width: 50%;
	}
	.main-container {
		width: 320px;
	}
	.reg-holder {
		width: 320px;
	}
	.reg_title {
		width: 320px;
		font-size: 24px;
	}
	.reg_button {
		width: 300px;
		font-size: 20px;
	}
	.field_border,
	.mail_border,
	.organization_name_border,
	.birth_year_border {
		width: 320px;
		margin: 0;
		height: 35px;
		font-size: 14px;
	}
	.field p, .mail p, .organization_name p, .birth_year p {
		font-size: 16px;
	}
	.contacts {
		width: 320px;
		display: flex;
		flex-direction: column;
	}
	.numbers {
		margin: 0;
	}
	.footer {
		width: 320px;
	}

	/*authorization*/
	.popup-holder {
		width: 320px;
		margin-left: -160px;
		height: 440px;
	}
	.popup-name-border,
	.popup-contacts-border {
		width: 300px;
	}
	.authorization {
		font-size: 18px;
	}
	a.authorization-ref {
		font-size: 18px;
	}
	.popup-button {
		font-size: 16px;
	}
	.popup-name, .popup-contacts {
		font-size: 14px;
	}
	.popup-name-border,
	.popup-contacts-border {
		font-size: 14px;
	}
	/*
	example
	*/
	.page_title {
		width: 320px;
		padding-top: 20px;
	}
	.page_title_header {
		width: 320px;
		margin: 0;
		font-size: 18px;
	}
	.paragraphs p {
		font-size: 13px;
	}
	.btn_try {
		width: 320px;
	}
	.try_test_button {
		width: 270px;
		height: 40px;
	}
	/*
	testing
	*/
	.gto-text {
		padding-top: 15px;
		font-size: 20px;
	}
	.gto-description {
		width: 310px;
		font-size: 14px;
	}
	.main-testing-content {
		width: 310px;
	}
	.main-testing-content p {
		font-size: 13px;
	}
	.par-3-important {
		margin-bottom: 15px;
	}
	.par-4 {
		margin-bottom: 15px;
	}
	.try_test_button {
		width: 200px;
		height: 30px;
		font-size: 15px;
		margin: 15px 0;
	}
	/*
	information
	*/
	.info-title {
		width: 300px;
		font-size: 15px;
	}
	.info-refs {
		margin-top: 40px;
		margin-left: 30px;
		font-size: 14px;
	}
}